jsoncstyleguide.html filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
vimscriptfull.xml filter=lfs diff=lfs merge=lfs -text
xmlstyle.html filter=lfs diff=lfs merge=lfs -text
htmlcssguide.html filter=lfs diff=lfs merge=lfs -text
google-c-style.el filter=lfs diff=lfs merge=lfs -text
htmlcssguide.xml filter=lfs diff=lfs merge=lfs -text
javaguide.html filter=lfs diff=lfs merge=lfs -text
javaguidelink.png filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
cppguide.xml filter=lfs diff=lfs merge=lfs -text
eclipse-java-google-style.xml filter=lfs diff=lfs merge=lfs -text
google_python_style.vim filter=lfs diff=lfs merge=lfs -text
google-r-style.html filter=lfs diff=lfs merge=lfs -text
lispguide.xml filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
Rguide.xml filter=lfs diff=lfs merge=lfs -text
shell.xml filter=lfs diff=lfs merge=lfs -text
cppguide.html filter=lfs diff=lfs merge=lfs -text
cpplint filter=lfs diff=lfs merge=lfs -text
jsoncstyleguide.xml filter=lfs diff=lfs merge=lfs -text
styleguide.xsl filter=lfs diff=lfs merge=lfs -text
angularjs-google-style.html filter=lfs diff=lfs merge=lfs -text
objcguide.xml filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
jsoncstyleguide_example_02.png filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_CC filter=lfs diff=lfs merge=lfs -text
jsoncstyleguide_example_01.png filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
javaguide.css filter=lfs diff=lfs merge=lfs -text
javascriptguide.xml filter=lfs diff=lfs merge=lfs -text
pyguide.md filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Rguide.md filter=lfs diff=lfs merge=lfs -text
styleguide.css filter=lfs diff=lfs merge=lfs -text
docguide filter=lfs diff=lfs merge=lfs -text
vimscriptguide.xml filter=lfs diff=lfs merge=lfs -text
intellij-java-google-style.xml filter=lfs diff=lfs merge=lfs -text
jsguide.html filter=lfs diff=lfs merge=lfs -text
objcguide.md filter=lfs diff=lfs merge=lfs -text
eclipse-cpp-google-style.xml filter=lfs diff=lfs merge=lfs -text
